<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.miku.libtool.injector"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:label="LibTool Injector"
        android:icon="@drawable/ic_launcher">
        
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
            
        <meta-data
            android:name="xposeddescription"
            android:value="Inject libTool.so into target game" />
            
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
            
        <meta-data
            android:name="xposedscope"
            android:value="com.superplanet.evilhunter" />
    </application>
</manifest>